body {
    background-image: linear-gradient(rgb(49, 49, 49), #555555);
    background-size: cover;
    background-position: center;
    color: #555;
    height: 98vh;
    width: 98vw;
    font-family: 'Gugi', cursive;
}

.boilerplate-div {
    width: 100vw - 5vw;
    height: max-content;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    color: #5d6068d6;
    text-transform: uppercase;

    &:hover {
        color: Black;
        cursor: pointer;
    }
}

.scrollStyle {
    // margin: 20px;
    padding: 2px;
    width: 100px;
    height: 70vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    float:left;
    /* background-color: #19233c; */
    /* color: #fff; */
  }
  

// import base - contains global styles, such as resets, typography, colors
// import components- contains each self-contained component in its own .scss partial
@import './components/RingChart/ring';
@import './components/RingChart/index';
@import './components/statsContainer';

// import pages contains page-specific styling

// example import statement '@import 'pages/home';'