.stats-container-root {

    border: 2px solid brown;
    border-radius: 15px;
    width: max-content;
    margin: 0px 0px 0px 0px;

    &>div {
        display: inline-block;
    }
    .edition-tag-container {

        width: auto;
        float: left;
        transform: translate(0px, 200px) rotate(-90deg);
        text-decoration: none;
        font-size: 50px;
        color: white;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        }
    }
}